In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [5]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid= {'criterion':['mse','mae'], 
             'max_features': ['auto','sqrt','log2'], 
             'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:398: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [6]:
re=grid.cv_results_
print("The R Score value for the best Parameter{}:".format(grid.best_params_))

The R Score value for the best Parameter{'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}:

In [7]:
table=pd.DataFrame.from_dict(re)

In [8]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.061762,0.002560,0.009794,0.000400,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.840085,0.745863,0.851562,0.808009,0.822874,0.813679,0.037008,10
1,0.421138,0.004497,0.026584,0.000490,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.847661,0.774560,0.856603,0.819880,0.839442,0.827629,0.029178,5
2,0.046971,0.003947,0.012393,0.003380,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.846702,0.751626,0.851175,0.815516,0.828692,0.818742,0.035910,9
3,0.316804,0.009396,0.027983,0.002096,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.858855,0.778436,0.861482,0.826646,0.841622,0.833408,0.030235,2
4,0.042773,0.002637,0.010394,0.001356,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.851820,0.752578,0.859051,0.825766,0.832554,0.824354,0.037893,6
5,0.316404,0.007387,0.025784,0.001720,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.857206,0.773640,0.862802,0.827742,0.842713,0.832821,0.031999,4
6,0.305411,0.004315,0.008994,0.000632,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.829499,0.751603,0.845049,0.804830,0.829173,0.812031,0.032841,11
7,3.120876,0.047751,0.025984,0.004047,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.837888,0.761735,0.849409,0.825962,0.835120,0.822023,0.031059,7
8,0.200076,0.010200,0.010194,0.002992,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.825175,0.768915,0.858292,0.807529,0.836449,0.819272,0.030087,8
9,1.727135,0.027597,0.023986,0.001264,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.857475,0.783558,0.854456,0.830713,0.840770,0.833394,0.026716,3
10,0.189283,0.013176,0.008594,0.000799,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840325,0.756426,0.807794,0.812401,0.833576,0.810104,0.029516,12
11,1.595016,0.170984,0.020188,0.002992,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.856886,0.782470,0.857756,0.828900,0.844383,0.834079,0.027847,1

In [9]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("Sex male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes or no:"))

Age:19
BMI:27.900
children:0
Sex male 0 or 1:0
Smoker yes or no:1

In [10]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[17127.830867]

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"