In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [23]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor()
param_grid= { 'loss':['linear', 'square', 'exponential'], 
             'n_estimators':[50,100]}
grid=GridSearchCV(regressor,param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [24]:
re=grid.cv_results_
print("The R Score value for the best Parameter{}:".format(grid.best_params_))

The R Score value for the best Parameter{'loss': 'linear', 'n_estimators': 50}:

In [25]:
table=pd.DataFrame.from_dict(re)

In [26]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.038578,0.005603,0.011593,0.003721,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.849007,0.796889,0.824693,0.821310,0.852474,0.828875,0.020298,1
1,0.051368,0.011682,0.011594,0.003438,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.849265,0.783859,0.826789,0.823382,0.842531,0.825165,0.022779,2
2,0.181886,0.033055,0.017589,0.003260,square,50,"{'loss': 'square', 'n_estimators': 50}",0.537408,0.415924,0.457622,0.491717,0.510546,0.482644,0.042279,5
3,0.248479,0.060151,0.021586,0.006148,square,100,"{'loss': 'square', 'n_estimators': 100}",0.519463,0.398185,0.423359,0.465881,0.467961,0.454970,0.041643,6
4,0.180888,0.029653,0.018588,0.002868,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.618910,0.521175,0.567630,0.611788,0.585064,0.580914,0.035098,3
5,0.285424,0.058942,0.023585,0.001357,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.555012,0.425418,0.482256,0.525413,0.526234,0.502867,0.045159,4

In [28]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("Sex male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes or no:"))

Age:19
BMI:27.900
children:0
Sex male 0 or 1:0
Smoker yes or no:1

In [29]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[20253.7122519]

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  "X does not have valid feature names, but"