In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
regressor = XGBRegressor()
param_grid = {'max_depth': [7],
              'n_estimators': [10,50,100,1000]}
grid=GridSearchCV(regressor,param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    gamma=None, gpu_id=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_bin=None,
                                    max_cat_to_onehot=None, max_delta_step=None,
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None, n_estimators=100,
                                    n_jobs=None, num_parallel_tree=None,
                                    predictor=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None, ...),
             n_jobs=-1,
             param_grid={'max_depth': [7], 'n_estimators': [10, 50, 100, 1000]},
             verbose=3)

In [18]:
re=grid.cv_results_
print("The R Score value for the best Parameter{}:".format(grid.best_params_))

The R Score value for the best Parameter{'max_depth': 7, 'n_estimators': 10}:

In [19]:
table=pd.DataFrame.from_dict(re)

In [20]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.051768,0.010937,0.014192,0.008466,7,10,"{'max_depth': 7, 'n_estimators': 10}",0.868182,0.772905,0.868577,0.833447,0.841331,0.836888,0.034954,1
1,0.150707,0.021466,0.008595,0.001355,7,50,"{'max_depth': 7, 'n_estimators': 50}",0.832219,0.729082,0.847129,0.800558,0.831798,0.808157,0.042349,2
2,0.210670,0.012505,0.008395,0.001200,7,100,"{'max_depth': 7, 'n_estimators': 100}",0.821880,0.706732,0.834016,0.787737,0.822141,0.794501,0.046528,3
3,1.351965,0.070189,0.016592,0.000489,7,1000,"{'max_depth': 7, 'n_estimators': 1000}",0.818382,0.698256,0.824281,0.783617,0.817999,0.788507,0.047352,4

In [25]:
import pickle
filename="finalized_Model_xgboost.sav"
pickle.dump(grid,open(filename,'wb'))
loaded_model=pickle.load(open("finalized_Model_xgboost.sav",'rb'))
prediction = [[19, 27.900, 0,0,1]]
Future_prediction = pd.DataFrame(prediction, columns=['age', 'bmi', 'children', 'sex_male', 'smoker_yes'])

In [28]:
result = loaded_model.predict(Future_prediction)
print(result)

[16673.275]